/* Put your CSS here */
html, body {
  margin: 20px;
  padding-top: 20px;
}
.navbar {
  background: #D8D8D8 !important;
  height: 50px !important;
  min-height: 0px !important;
  background: -webkit-linear-gradient(rgba(240, 240, 240, 1.0), rgba(215, 215, 215, 1.0) 50px, #6A6A6A 1px, #EDEDED, #EDEDED 23px) !important; 
}
.active > a {
  font-weight:bold;
  width: 181px !important;
  height: 50px !important;
  min-height: 0px !important;
  padding-top: 5px !important;
  padding-bottom: 0px !important;
}
.navbar-collapse > .navbar-nav > li > a {
  width: 45px !important;
  height: 50px !important;
  min-height: 0px !important;
  padding-top: 5px !important;
  padding-bottom: 0px !important;
}
.navbar-collapse > .navbar-nav > li > a > img {
  width: 45px;
  height: 45px;
  left: -15px;
  position: relative;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
  color: #555 !important;
}
a.dropdown-toggle {
  width: 50px !important;
  height: 50px !important;
}
.nav > li {
  left: -15px;
  position: relative;
}
#icon {
  right: 5px;
  bottom: 5px;
  position: relative;
}
.navbar-nav>li>.dropdown-menu {
  margin-top: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 6px !important;
  border-bottom-right-radius: 6px !important;
}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
  color: #262626 !important;
  text-decoration: none !important;
  background: linear-gradient(rgb(117, 145, 245),rgb(21, 71, 211)) !important;
}
.dropdown-menu>li>a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 94% !important;
  color: #333;
  white-space: nowrap;
  margin-bottom: 4px;
  margin-top: 4px;
}
