<div class="text-center">
  <h1>Welcome to Traker, the ultimate teamwork app!</h1>
  <h3 class="subheader">To get started, just sign in!</h3>
  {{#link-to 'sighnin.index' class="button success-darker"}}Sign In{{/link-to}}
</div>
