<div class="text-center">
  {{#if isSignedIn}}
    <h1>Welcome to your dashboard!</h1>
    <h3 class="subheader">From here, you can see everything!</h3>
  {{else}}
    <h1>Welcome to Traker, the ultimate teamwork app!</h1>
    <h3 class="subheader">To get started, just sign in!</h3>
    {{#link-to 'sighnin.index' class="button success-darker"}}Sign In{{/link-to}}
  {{/if}}
</div>
